<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"><%= kind %></h5>
    <p class="card-text">Total: <%= total %></p>
    <p class="card-text">Daily increase: <%= daily_increase %></p>
    <%= link_to 'More info', path, class: 'btn btn-warning'%>
  </div>
</div>