<div class="row">
  <div class="col-sm">
    <%= render partial: 'status_card', locals: { 
      kind: 'Confirmed',
      total: @general_infos.dig('confirmed', 'value'),
      daily_increase: @daily_increase&.confirmed,
      path: global_confirmed_path
    } %>
  </div>

  <div class="col-sm">
    <%= render partial: 'status_card', locals: { 
      kind: 'Recovered',
      total: @general_infos.dig('recovered', 'value'),
      daily_increase: @daily_increase&.recovered,
      path: global_recovered_path
    } %>
  </div>

  <div class="col-sm">
    <%= render partial: 'status_card', locals: { 
      kind: 'Deaths',
      total: @general_infos.dig('deaths', 'value'),
      daily_increase: @daily_increase&.deaths,
      path: global_deaths_path
    } %>
  </div>
</div>

<%= link_to 'Update increases', update_increases_path, class: 'btn btn-success mt-4 mb-5'	%>