<div class="row">
  <div class="col-sm">
    <%= render partial: 'status_card', locals: { kind: 'Confirmed', total: '0000', path: global_confirmed_path } %>
  </div>

  <div class="col-sm">
    <%= render partial: 'status_card', locals: { kind: 'Recovered', total: '0000', path: global_recovered_path } %>
  </div>

  <div class="col-sm">
    <%= render partial: 'status_card', locals: { kind: 'Deaths', total: '0000', path: global_deaths_path } %>
  </div>
</div>