<h1>Daily</h1>

<table>
  <thead>
    <td>Total Confirmed</td>
    <td>Total Recovered</td>
    <td>Mainland China</td>
    <td>Report Date</td>
  </thead>

  <tbody>
    <% @daily.each do |daily| %>
      <tr>
        <td><%= daily['totalConfirmed'] %></td>
        <td><%= daily['totalRecovered'] %></td>
        <td><%= daily['mainlandChina'] %></td>
        <td><%= parse_time(daily['reportDate']) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
